@model MusicTool.Models.DTO.IndexSingerRequest

@{
    ViewData["Title"] = "Admin singer";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    <link href="~/css/SingerIndex.css" rel="stylesheet" asp-append-version="true" />
}
<div class="container">
    <div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title"></h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <!-- Modal body -->
                <div class="modal-body"></div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Đóng</button>
                </div>

            </div>
        </div>
    </div>
    <h3 class="title">Quản lý ca sĩ</h3>
    <div class="row function-btn mb-2">
        <div class="col-sm-4">
            <form class="d-flex frm-search" asp-action="Search">
                <input class="form-control me-2" type="search" name="key" placeholder="Nhập tên ca sĩ" aria-label="Search">
                <button class="btn btn-outline-primary" type="submit">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </form>
        </div>
        <div class="col-sm-8 d-flex flex-row-reverse">
            <a class="btn btn-outline-primary" asp-action="Create">
                <i class="fa-solid fa-plus"></i>
            </a>
        </div>
    </div>
    <div class="admin-index table-responsive">
        <table class="table align-middle table-hover text-center">
            <thead>
                <tr>
                    <th class="id">ID</th>
                    <th class="photo-name">Hình ảnh</th>
                    <th class="singer-name">Ca sĩ</th>
                    <th class="date">Ngày tải lên</th>
                    <th class="work"></th>
                    <th class="work"></th>
                </tr>
            </thead>
            <tbody>
                @if (Model.List != null)
                {
                    foreach (var item in Model.List)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td class="photo-name">
                                <img class="img-fluid" src="~/images/Singers/@item.PhotoName" alt="@item.PhotoName" />
                            </td>
                            <td>@item.Name</td>
                            <td>@(item.LoadingDate.HasValue ? item.LoadingDate.Value.ToString("dd/MM/yyyy") : "Chưa có")</td>
                            <td class="work">
                                <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@item.Id">
                                    <i class="fa-regular fa-pen-to-square"></i>
                                </a>
                            </td>
                            <td class="work">
                                <button onclick="Delete(@item.Id,'Singer')" type="button" class="btn btn-outline-danger" data-bs-target="#myModal">
                                    <i class="fa-solid fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    <partial name="_Paging" />
</div>
<script src="~/js/songindex.js"></script>
